<div id="people" class="people_container">
  <div class="background_img" style="background-image:url(/assets/Pictures/get_involvedbanner.jpg)">
    <div class="container">
      <div class="row">
        <h1>PEOPLE</h1>
        <hr>
          <div class="form-group pull-left">
              <input type="text" class="search form-control" [(ngModel)]="search" placeholder="Search for People" style="width:500px">
          </div>
          <span class="counter pull-right" ></span>
          <table class="table table-hover table-bordered results">
            <thead>
              <tr>
                <th>#</th>
                <th class="col-md-4 col-xs-4" style="text-align:center">First Name / Last Name</th>
                <th class="col-md-3 col-xs-3" style="text-align:center">Organization</th>
                <th class="col-md-3 col-xs-3" style="text-align:center">Networks</th>
                <th class="col-md-3 col-xs-3" style="text-align:center">City</th>
              </tr>
              <tr class="warning no-result">
                <td colspan="4"><i class="fa fa-warning"></i> No result</td>
              </tr>
            </thead>
            <tbody>
              <tr class='clickable-row' *ngFor="let item of myData | searchPerson:search; let i = index" (click)="openModal($event, item)" style="cursor:pointer; text-align:left">
                <th scope="row">{{i+1}}</th>
                <td>{{item.name}}</td>
                <td>{{item.organization}}</td>
                <td>{{item.network}}</td>
                <td>{{item.city}}</td>
              </tr>
            </tbody>
          </table>
          <div>
        </div>
      </div>
    </div>
  </div>  
</div>

<div *ngIf="showModal" class="modal fade bs-example-modal-lg" id="peopleModal1" tabindex="-1" [ngClass]="{'in': addInClass }" [style.display]="showModal ? 'block' : 'none'" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
      <div class="modal-content bio-modal">
          <div class="col-sm-12 col-md-3">
              <img src="{{itemSelected.imageUrl}}" width="150" height="150"> 
              <img src="{{itemSelected.logoUrl}}" width="150" height="60px">
              <p>
                --------------------------------
              </p>  
              
              <p style="text-align:center;word-break: break-word">
                {{itemSelected.email}}<br>
                {{itemSelected.phone}}
              </p>
              
              
              
          </div>
          <div class="col-sm-12 col-md-9">
              <h2><b>{{itemSelected.name}}</b>, {{itemSelected.position}}</h2>
              <p>
                {{itemSelected.text1}}   
              </p>
              <p>
                {{itemSelected.text2}}   
              </p>
              <p>
                {{itemSelected.text3}}   
              </p>
          </div>
          <div style="clear:both;"></div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="closeModal()">Close</button>
          </div>
      </div>
  </div>
</div>

