.navbar-default {
  height: 60px;
}
.navbar-default .navbar-nav > button > li > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 60px;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 60px;
}
.navbar-form {
  margin-top: 0;
}
.navbar-default > button {
background: #6596BC;
}

#navbar{
  padding-top: 5px;
}
