<div id="who-we-are" class="who-we-are_container">
  <div class="background_img" style="background-image:url(/assets/Pictures/who-we-are.jpg)">
    <div class="container">
      <div class="row">
        <h1>WHO WE ARE</h1>
        <hr>
        <p id="summary" style="font-size:24px">
          Our mission is to improve post-secondary outcomes and career transitions
          for foster care youth and alumni through support, resources, networking
          and determining collective impact.
        </p>
        <div class="col-md-3" id="left" >
          <div class="col-md-12" style="background-color: rgba(101, 150, 188, 0.8)">
            <div class="tittle" style="color:white">
              <h3>PURPOSE</h3>
                <hr id="purp">
            </div>
            <div class="content">
              <p>
                <b>R</b> ECRUIT <br>
                <br>
                <b>E</b> EDUCATE liaisons, coaches & the public & to increase <br>
                <br>
                <b>A</b> WARENESS & improved practice for <br>
                <br>
                <b>C</b> AMPUS & community-based programs that <br>
                <br>
                <b>H</b> ELP transitioning young adults reach their dreams <br>
                <br>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6" id="center" >
          <div class="col-md-12" style="background-color: rgba(101, 150, 188, 0.8)">
            <div class="tittle" style="color:white">
              <h3>PROBLEM</h3>
               <hr>
            </div>
            <div class="content">
              <img src="/assets/Pictures/gradlong.png" width="200" height="75">
                <p style="padding-left:10%">
                  of Foster Youth in Florida complete high school.
                </p>
              <img src="/assets/Pictures/arrowlong.png" width="200" height="75">
                <p style="padding-left:10%">
                  of Foster Youth are behind a grade level.
                </p>
              <img src="/assets/Pictures/booklong.png" width="200" height="75">
                <p style="padding-left:10%">
                  of 13-17 Foster Youth have an educational & career path plan filed with the court.
                </p>
              <img src="/assets/Pictures/collegelong.png" width="200" height="75">
                <p style="padding-left:10%">
                  of Foster Youth have who graduate high school will attend college.
                </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" id="right" >
          <div class="col-md-12" style="background-color: rgba(101, 150, 188, 0.8)">
            <div class="tittle"style="color:white">
              <h3>PLEDGE</h3>
                <hr id="pled">
            </div>
            <div class="content">
              <p>The members of Positive Pathways nertwork pledge to promote & advance professional activities
                locally & statewide to provide:<br>
                <br>
                <b>R</b> ESOURCES <br>
                <br>
                <b>E</b> EDUCATIONAL SUPPORT <br>
                <br>
                <b>A</b> CADEMIC ADVOCACY <br>
                <br>
                <b>C</b> OMPASSION <br>
                <br>
                <b>H</b> OPE <br>
                <br>
                for educational & life success
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>

