<div id="resources" class="resources_container">
  <div class="background_img" style="background-image:url(/assets/Pictures/IMG_7172.jpg)">
    <div class="container">
      <div class="row">
        <h1>RESOURCES</h1>
        <hr>
        <p id="summary" style="font-size:18px; background-color:#6596BC; opacity:.8">
          Most foster youth want to go to college but need extra support and services to get there and succeed. In one survey of Florida foster youth, 70% had a goal of attending and graduating from college; however, less than 5% of foster youth actually go on to receive a bachelor’s degree. The educational resources listed below are compiled to help a caregiver, Case Manager, or GAL volunteer navigate through the education system. Preparing for college begins in preschool!
        </p>
        <div class="col-md-3" id="left" >
          <div class="col-md-12" href="#myModal" data-toggle="modal" style="background-color: rgba(101, 150, 188, 0.8)">
            <div class="tittle" style="color:white">
              <h3>PROGRAMS</h3>
                <hr id="prog">
            </div>
            <div class="content">
              <p>
                Collegiate and post secondary partner programs.
                Find school specific programs leaders and information.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6" id="center" >
          <div class="col-md-12" href="#myModal1" data-toggle="modal" style="background-color: rgba(101, 150, 188, 0.8)">
            <div class="tittle" style="color:white">
              <h3>PROFESSIONAL DEVELOPMENT</h3>
               <hr>
            </div>
            <div class="content">
              <p>
                For active and prospective members. Learn about the Positive Pathways network
                and the service programs in your community. Access guidelines and resources 
                such as Free Waiver processing, view community partners or join a 
                College Access Network.
              </p>
            </div>
          </div>
          <a href = "https://stream.microsoft.com/" type="button" id="learnbtn" class="btn btn-success" target="_blank">Start Learning</a>
        </div>
        <div class="col-md-3" id="right" >
          <div class="col-md-12" href="#myModal2" data-toggle="modal" style="background-color: rgba(101, 150, 188, 0.8)">
            <div class="tittle"style="color:white">
              <h3>PODCASTS</h3>
                <hr id="pod">
            </div>
            <div class="content">
              <p>
                Hear from team members and students on the continued work
                of Positive Pathways.
              </p>
            </div>
          </div>
        </div>
      </div>

         <div class="row" id="library" style="background-color:#6596BC">
          <h2 style="color:white">Library</h2>
            <div class="col-md-3">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-success" data-toggle="modal" href="#myModal3">
                Student Support<br> Resources
              </button>
            </div>
            <div class="col-md-3">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-success" data-toggle="modal" href="#myModal4">
                Scholarships and<br> Funding Opportunities
              </button>
            </div>
            <div class="col-md-3">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-success" data-toggle="modal" href="#myModal5">
                Local Support<br> Programs
              </button>
            </div>
            <div class="col-md-3">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-success" data-toggle="modal" href="#myModal6">
                Research on Education<br> and Foster Youth
              </button>
            </div>
        </div>
          <button type="button" class="btn btn-success btn-lg" style="margin-top:20px" data-toggle="modal" href="#myModal7">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> News and Events
          </button>

    </div>
  </div>  
</div>

<!-- Modal Programs -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div id="wrapper">
          <div id="first">
            <img src="/assets/Logos/PPP_Logo.png" width="180" height="60" alt="Logo">
          </div>
          <div id="second">
            <h4 class="modal-title" id="myModalLabel"><b>PROGRAMS</b></h4>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      </div>
      <div class="modal-body">
        <div class="row" id="logos1">
              <div id="FIU" class="col-md-1">
                <a href="http://sas.fiu.edu/fpp/" target="_blank"> <img src="/assets/Logos/FIU.png" width="125" height="125" alt=""></a>
              </div>
              <div id="MDC" class="col-md-1 col-md-offset-2">
                <a href="https://www.mdc.edu/main/singlestop/educate_tomorrow_at_single_stop.aspx" target="_blank"> <img src="/assets/Logos/MDC.png" width="125" height="125" alt=""></a>
              </div>
              <div id="FAU" class="col-md-1 col-md-offset-2">
                <a href="http://fau.edu/" target="_blank"> <img src="/assets/Logos/FAU.png" width="125" height="125" alt=""></a>
              </div>
              <div id="UF" class="col-md-1 col-md-offset-2">
                <a href="http://fos.ufsa.ufl.edu/about/ history/" target="_blank"> <img src="/assets/Logos/UF1.png" width="125" height="125" alt=""></a>
              </div>
        </div>
        <div class="row" id="logos2">
              <div id="FAMU" class="col-md-1 col-md-offset-2">
                <a href="http://www.famu.edu/" target="_blank"> <img src="/assets/Logos/FAMU.png" width="125" height="125" alt=""></a>
              </div>
              <div id="TCC" class="col-md-1 col-md-offset-2">
                <a href="https://www.tcc.fl.edu/" target="_blank"> <img src="/assets/Logos/tcc.png" width="125" height="125" alt=""></a>
              </div>
              <div id="UCF" class="col-md-1 col-md-offset-2">
                <a href="https://mass.sdes.ucf.edu/prog rams/kan/" target="_blank"> <img src="/assets/Logos/UCF.png" width="125" height="125" alt=""></a>
              </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal Professional Development -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div id="wrapper">
          <div id="first">
            <img src="/assets/Logos/PPP_Logo.png" width="180" height="60" alt="Logo">
          </div>
          <div id="second">
            <h4 class="modal-title" id="myModalLabel"><b>PROFESSIONAL DEVELOPMENT</b></h4>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      </div>
      <div class="modal-body1">
        <div class="col-lg-3">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/RwOB1FozxOY" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<!--Modal Podcast-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div id="wrapper">
          <div id="first">
            <img src="/assets/Logos/PPP_Logo.png" width="180" height="60" alt="Logo">
          </div>
          <div id="second">
            <h4 class="modal-title" id="myModalLabel"><b>PODCASTS</b></h4>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      </div>
      <div class="modal-body2">
        <div class="col-lg-3">
          <p style="padding-top:10px; padding-left:10px">Florida REACH Ep. 34</p>
          <audio controls>
            <source src="/assets/Audio/Ep_34_Florida_Reach.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Modal Student Support Button-->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Student Support Resources</h3>
      </div>
      <div class="modal-body3" style="padding:15px">
        <p>
           Most foster youth want to go to college but need extra support and services to get there and succeed. In one survey of Florida foster youth, 70% had a goal of attending and graduating from college; however, less than 5% of foster youth actually go on to receive a bachelor’s degree. The educational resources listed below are compiled to help a caregiver, Case Manager, or GAL volunteer navigate through the education system. Preparing for college begins in preschool!
        </p>
          <p><a href="http://www.parentcenterhub.org/nichcy-gone/" target="_blank">Developing Your Child's IEP</a></p>
          <p><a href="http://www.dcf.state.fl.us/programs/indliving/docs/EBTCaregiverGuide.pdf" target="_blank">Caregiver Guide</a></p>
          <p><a href="http://www.floridaschildrenfirst.org/category/education-advocacy/" target="_blank">Florida's Children First Educational Advocacy Resources</a></p>
          <p><a href="http://www.mcie.org/usermedia/application/11/1_iepchecklist2012.pdf" target="_blank">EP Meeting Checklist</a></p>
          <p><a href="https://www.khanacademy.org/college-careers-more/college-admissions?utm_source=Sailthru&utm_medium=email&utm_term=All%20Users&utm_campaign=College%20Admissions%20Announcement&utm_content=Final&utm_source=MCAN+Updates+-+Nov.+13%2C+2014&utm_campaign=enews111314&utm_medium=email" target="_blank">Khan Academy: College Admissions</a></p>
          <p><a href="http://www.55communityguide.com/guide/fl" target="_blank">Know How to Go</a></p>
          <p><a href="http://www.florida-rti.org/educatorresources/mtss_book_implcomp_012612.pdf" target="_blank">Multi-Tiered Systems of Support (MTSS)</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Modal Scholarships Button-->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Scholarships and Funding Opportunities</h3>
      </div>
      <div class="modal-body3" style="padding:15px">
          <p><a href="https://www.fastweb.com/directory/scholarships-for-students-who-received-foster-care" target="_blank">College Scholarships</a></p>
          <p><a href="http://www.myflfamilies.com/service-programs/independent-living/tuition--fee-exemptions" target="_blank">DCF Tuition Exemption</a></p>
          <p><a href="http://www.myflfamilies.com/service-programs/independent-living/myfuturemychoice-cbc" target="_blank">Independent Living Programs</a></p>
          <p><a href="https://www.stepupforstudents.org/" target="_blank">K-12 Scholarships</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Modal Student Support Button-->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Student Support Resources</h3>
      </div>
      <div class="modal-body3" style="padding:15px">
        <p>
           Campus support programs that are specifically designed for foster youth can be a great resource while attending college.  The range of services provided by these programs varies considerably and can include personal and academic counseling, financial assistance, housing, mentoring and much more.  The most accurate information about each program can be gained by directly contacting the program to learn more about what their program offers. In addition, programs to support the educational needs of students challenged by social and economic barriers, known as Student Support Services, are available at every public college and university.
        </p>
          <p><a href="http://bestfoot.org/" target="_blank">Best Foot Forward</a></p>
          <p><a href="https://www.educatetomorrow.org/" target="_blank">Educate Tomorrow</a></p>
          <p><a href="https://www.firststar.org/wp-content/uploads/2015/02/First_Star_Trifold_small.pdf" target="_blank">First Star Academy</a></p>
          <p><a href="https://handyinc.org/" target="_blank">Handy, Inc.</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Modal Research Button-->
<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Student Support Resources</h3>
      </div>
      <div class="modal-body3" style="padding:15px">
        <p>
           Research and information about educational issues and services for children in out-of-home care.
        </p>
          <p><a href="http://www.fostercareandeducation.org/AreasofFocus/BlueprintforChange.aspx" target="_blank">Blueprint for Change</a></p>
          <p><a href="https://www.casey.org/supporting-success/" target="_blank">Casey Family Programs Supporting Success Resources</a></p>
          <p><a href="http://www.centerforchildwelfare.org/EducationalResources.shtml" target="_blank">Center for Child Welfare, Educational Resources</a></p>
          <p><a href="http://www.fape.org/" target="_blank">Education of Children with Disabilities</a></p>
          <p><a href="http://www.ncset.org/publications/info/NCSETInfoBrief_7.1.pdf" target="_blank">Foster Youth Who Have Succeeded in Higher Education: Common Themes</a></p>
          <p><a href="https://www.casey.org/supporting-success/" target="_blank">Improving Higher Education Outcomes for Young Adults from Foster Care Selected Readings and Resources</a></p>
          <p><a href="http://www.collegeathome.com/" target="_blank">College @ Home</a></p>
          <p><a href="http://www.f2f.ca.gov/res/ItsMyLife.pdf" target="_blank">It's My Life: Postsecondary Education and Training</a></p>
          <p><a href="http://nfpaonline.org/fplinks/" target="_blank">National Foster Parent Association</a></p>
          <p><a href="http://www.ylc.org/resource-bank/" target="_blank">Youth Law Center</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Modal News and Events Button-->
<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">News and Events</h3>
      </div>
      <div class="modal-body4" style="padding:15px">
        <iframe src="https://calendar.google.com/calendar/embed?src=pathways%40educatetomorrow.org&ctz=America/New_York" style="border: 0" width="865" height="550" frameborder="0" scrolling="no"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>